{
    "openapi": "3.0.0",
    "info": {
        "title": "API OM Pay",
        "description": "Documentation interactive de l’API OM Pay construite avec Laravel et Sanctum",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Serveur dynamique (local ou production)"
        }
    ],
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Connexion d’un utilisateur",
                "description": "Permet à un utilisateur de se connecter avec son numéro de téléphone et son code PIN.",
                "operationId": "2ccdca282a3dfd24e3585a7fea327565",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "numeroTelephone",
                                    "codePing"
                                ],
                                "properties": {
                                    "numeroTelephone": {
                                        "type": "string",
                                        "example": "7022721314"
                                    },
                                    "codePing": {
                                        "type": "string",
                                        "example": "1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Connexion réussie"
                                        },
                                        "data": {
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "1|xxxxxxxxxx"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "client"
                                                },
                                                "compte_id": {
                                                    "type": "string",
                                                    "example": "10e5ea70-d168-4d14-b6ef-eef90221e630"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Numéro de téléphone ou code PIN invalide"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/comptes": {
            "get": {
                "tags": [
                    "Comptes"
                ],
                "summary": "Lister les comptes selon le rôle",
                "description": "Retourne le compte du client connecté ou tous les comptes si c’est un admin.",
                "operationId": "0f411c0d5b7b7411686d68fbb813d286",
                "responses": {
                    "200": {
                        "description": "Comptes récupérés",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "comptes recuperer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "10e5ea70-d168-4d14-b6ef-eef90221e630"
                                                    },
                                                    "numeroCompte": {
                                                        "type": "string",
                                                        "example": "T3YK5AED7K"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "marchand"
                                                    },
                                                    "statut": {
                                                        "type": "string",
                                                        "example": "actif"
                                                    },
                                                    "dateCreation": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Comptes",
            "description": "Gestion des comptes"
        },
        {
            "name": "Authentification",
            "description": "Authentification"
        }
    ]
}